#sketch-container {
  display: flex;
  flex-direction: row;
  /* Optional: further properties for alignment */
  justify-content: left; /* Centers items horizontally */
  align-items: center;     /* Centers items vertically (along the cross axis) */
}

canvas{
   border-radius: 10px; 
}
main{    
    display: flex;
    justify-content:left; /* Centers items horizontally */
}
body{
    background-color:darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: black;
    border-radius: 20px;
    border:solid 5px azure;
    box-shadow: none;
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    margin: 0px 10px 10px 10px;
}

button:hover{
    border-color: blueviolet;
}